# Lombokの設定

# プロジェクトのルートであることをLombokに教えるための設定（trueでプロジェクトルート）
# lombok.configが複数ファイルあったときに、これ以上他のLombok設定ファイル読みにいかないようにする。
config.stopBubbling                           = true

# Lombokが生成したソースには「@lombok.Generated」（Lombokが生成したことを示すマーク）が追加される。
# 単体では意味をなさないが、JaCoCoなどのカバレッジ計測ツールで除外するために使用する。
lombok.addLombokGeneratedAnnotation           = true

# Lombokで追加したソースをFindBugs（SpotBugs）の検出対象にならないようにする
lombok.extern.findbugs.addSuppressFBWarnings  = true
